
/*导航栏*/
.navbar-nav>li{
    margin-top: 50px;
}
/*导航栏图片列表项*/
#navbar-nav_ignoreli{
    margin-top: 0px;
    margin-right: 10px;
}
/*导航栏图片*/
#navbar-nav_ignoreli>img{
    height: 100px;
}
/*导航栏与图片滚动展示之间的间距*/
.navbar{
    margin-bottom: 5px;
}

/*红色栏*/
.m-body{
    border: 1px solid rgb(214, 214, 214);
    margin-top: 10px;
    margin-bottom: 10px;
}
.m-header{
    height: 28px;
    color: #FFFFFF;
    background-image: url(../img/m-header_background.jpg);
    
}
.m-header h3{
    font-size: 14px;
    margin: 0;
    margin-left: 10px;
    line-height: 2;     
}
.m-content{
    margin: 10px;
}

/*底部版权声明*/
.footer{
    text-align: center;
    font-size: 12px;
    color: #8c8c8c;
    clear: both;
    
    margin: 20px;
}

/*产品展示*/
.product_content{
    width: 166px;
    height: 220px;
    padding: 7px;
    border: 1px solid #eee;
    margin-right: 18px;
    display: inline-block;
}
.product_price{
    color: #ff5500;
    margin-top: 10px;
}